.button {
  @include button;

  &:hover {
    @include button--hover;
  }

  &--outline {
    @include button--outline;
  }

  &--white {
    @include button--white;
  }

  &--square {
    padding: 0;
    min-width: var(--button-height);
  }

  &--transparent-hover:hover,
  &--transparent:not(:hover) {
    --button-background-color: transparent;
    --button-border-color: transparent;
    color: inherit;
  }
}

p a.button:has(+ a.button) {
  margin-bottom: 0.25rem;
}

.button-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  &__item {
    text-transform: uppercase;
    font-size: var(--fs-xs);
    font-weight: bold;
    padding-inline: 0.5em;
    color: var(--color-primary);
    background-color: var(--color-white);
  }
}
