.card-row {
  padding-block: var(--spacer-4);
  position: relative;

  &__button {
    &:hover::after {
      background: var(--color-surface);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50%;
      width: 100vw;
      height: 100%;
      z-index: -1;
      transition: background var(--transition);
    }
    &::before {
      content: "";
      @include stretch;
    }
  }
  @include bp(md, max) {
    text-align: center;
  }
  &:not(:last-child) {
    border-bottom: var(--border);
  }
}
