.card-testimonial {
  border: var(--border);
  border-radius: 0 0 var(--card-radius);
  &__content {
    font-weight: 600;
    line-height: 1.2;
    &::before {
      display: block;
      --icon-size: 3.5em;
      --icon-color: var(--border-color);
      @include mask-icon(
        url("data:image/svg+xml,%3Csvg width='62' height='50' viewBox='0 0 62 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M46.9879 47.2148C46.2411 47.449 45.6154 47.6026 45.169 47.6988L43.6275 44.0729C43.664 44.0631 43.7012 44.0529 43.7391 44.0425C44.5352 43.8224 45.6173 43.4593 46.7563 42.8852C49.0122 41.7482 51.6163 39.7147 52.4988 36.2152C53.3507 33.6049 52.9109 31.2274 52.281 29.5342C51.964 28.6821 51.5946 27.9904 51.3028 27.5089C51.1565 27.2676 51.0287 27.0775 50.935 26.9446C50.8882 26.8782 50.8498 26.8259 50.8218 26.7886C50.8078 26.7699 50.7964 26.755 50.7878 26.7439L50.7771 26.7301L50.7734 26.7254L50.772 26.7236L50.7713 26.7228C50.7711 26.7224 50.7708 26.7221 49.9875 27.3438L50.7708 26.7221L50.4705 26.3438H49.9875H35.875V1H61V27.7344C61 36.7319 56.8454 41.7124 52.7235 44.4825C50.6435 45.8803 48.5572 46.7226 46.9879 47.2148Z' stroke='%236573A4' stroke-width='2'/%3E%3Cpath d='M12.1129 47.2148C11.3661 47.449 10.7404 47.6026 10.294 47.6988L8.75247 44.0729C8.78904 44.0631 8.82625 44.0529 8.86407 44.0425C9.66021 43.8224 10.7423 43.4593 11.8813 42.8852C14.1372 41.7482 16.7413 39.7147 17.6238 36.2152C18.4757 33.6049 18.0359 31.2274 17.406 29.5342C17.089 28.6821 16.7196 27.9904 16.4278 27.5089C16.2815 27.2676 16.1537 27.0775 16.06 26.9446C16.0132 26.8782 15.9748 26.8259 15.9468 26.7886C15.9328 26.7699 15.9214 26.755 15.9128 26.7439L15.9021 26.7301L15.8984 26.7254L15.897 26.7236L15.8963 26.7228C15.8961 26.7224 15.8958 26.7221 15.1125 27.3438L15.8958 26.7221L15.5955 26.3438H15.1125H1V1H26.125V27.7344C26.125 36.7319 21.9704 41.7124 17.8485 44.4825C15.7685 45.8803 13.6822 46.7226 12.1129 47.2148Z' stroke='%236573A4' stroke-width='2'/%3E%3C/svg%3E%0A")
      );
    }
  }
  &__bottom,
  &__content {
    padding: var(--container-spacer);
  }
}
