.container {
  padding-left: var(--container-spacer);
  padding-right: var(--container-spacer);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
  width: 100%;
  &-xs {
    @extend .container;
    max-width: calc(var(--container-width) * 0.5);
  }
  &-sm {
    @extend .container;
    max-width: calc(var(--container-width) * 0.65);
  }
  &-md {
    @extend .container;
    max-width: calc(var(--container-width) * 0.8);
  }
  &-lg {
    @extend .container;
    max-width: calc(var(--container-width) * 1.2);
  }
  &-xl {
    @extend .container;
    max-width: calc(var(--container-width) * 1.4);
  }
  &-fluid {
    @extend .container;
    max-width: none;
  }
}
