.icon-label {
  display: inline-flex;
  gap: var(--element-spacer-sm);
  color: inherit;
  min-height: var(--label-height);
  @include underline--reverse;
  --icon-color: var(--color-primary-light);
}
