$bp: md;

.tabs {
  &__tab {
    --button-border-color: var(--color-white);
    --button-border-color-hover: var(--color-white);

    --button-background-color: transparent;
    --button-background-color-hover: color(from var(--color-white) xyz x y z/.3);

    --button-color: currentColor;
    --button-color-hover: currentColor;

    margin: 0 !important;
    text-align: left;
    justify-content: space-between;
    text-transform: initial;
    border-width: 0 0 var(--border-width);
    &.active {
      --button-background-color: var(--color-white);
      --button-border-color: transparent;
      --_icon-rotate: 90deg;
      .text-white & {
        --button-background-color: var(--color-white);
        --button-color: var(--color-primary);
        --button-border-color-hover: transparent;
      }
    }
    @include bp($bp, max) {
      max-width: 85%;
      flex: none;
    }
  }
  &__icon {
    rotate: var(--_icon-rotate, 45deg);
    transition: rotate var(--transition);
  }
  &__tablist {
    position: sticky;
    top: calc(var(--overlay-menu-height) + var(--element-spacer));
    display: flex;
    column-gap: var(--spacer-1);

    @include bp($bp, max) {
      padding: 0 var(--container-spacer);
      margin: 0 calc(var(--container-spacer) * -1);
      overflow-x: auto;
      scroll-behavior: smooth;
      padding-bottom: var(--element-spacer);
    }

    @include bp($bp) {
      flex-direction: column;
    }
  }
  &__content {
    overflow: hidden;
    > :first-child {
      margin-top: 0;
    }
  }
}
