@mixin button() {
  padding: var(--button-py) var(--button-px);
  line-height: var(--lh-none);
  min-height: var(--button-height);
  border: var(--button-border-width) solid var(--button-border-color);
  background: var(--button-background-color);
  display: inline-flex;
  justify-content: center;
  gap: var(--element-spacer-sm);
  align-items: center;
  text-decoration: none;
  color: var(--button-color, inherit);
  cursor: pointer;
  border-radius: var(--button-border-radius);
  text-align: center;
  font-size: var(--button-fs);
  font-weight: 600;
  text-transform: uppercase;
  transition:
    border-color var(--transition),
    color var(--transition),
    background-color var(--transition);
}

@mixin button--outline {
  --button-background-color: transparent;
  --button-border-color: currentColor;
  --button-color: currentColor;
}

@mixin button--white {
  --button-background-color: var(--color-white);
  --button-color: var(--color-primary);
}

@mixin button--hover() {
  --button-background-color: var(--button-background-color-hover);
  --button-border-color: var(--button-border-color-hover);
  --button-color: var(--button-color-hover);
}

@mixin button-reset() {
  background: none;
  border: none;
  padding: 0;
  color: inherit;
}
