@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

:target {
  scroll-margin-top: var(--header-height);
}

@include device-input(touch) {
  :focus,
  :focus-visible {
    outline: none;
  }
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
  accent-color: var(--color-primary);
  background: var(--color-primary-lighten);
  color: var(--text-color);
  font-family: var(--ff-primary);
  line-height: var(--lh-md);
  overflow-x: hidden;
  font-size: 0.875rem;
  @include bp(3xl) {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
address,
table,
hr {
  margin: var(--element-spacer) 0;
}

strong {
  font-weight: 600;
}

*,
::before,
::after {
  box-sizing: border-box;
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0.01s !important;
  }
}

details,
main {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

hr {
  background-color: var(--border-color);
  border: 0;
  height: var(--border-width);
  overflow: visible;
}
