@use "sass:map";

//Bootstrap
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 2.25,
  6: $spacer * 3.125
);

$grid-gutter-width: map.get($spacers, 4);

$grid-breakpoints: (
  xs: 0,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px
);

$breakpoints-extra: (
  3xl: 1920px,
  4xl: 2560px,
  5xl: 3840px
);

$font-family-primary: "Figtree";

$overlay-menu-bp: lg;
// $overlay-menu-bp: false; //to always show overlay menu
