.main-footer {
  a:not([class]) {
    display: inline-block;
  }
  .menu {
    @include reset-list;
    .menu-item {
      margin-top: calc(var(--element-spacer) / 1.25);
    }
    .menu-link {
      color: inherit;
      opacity: 0.8;
      @include target-space;
    }
    .sub-menu {
      list-style: none;
      padding-left: 1em;
    }
  }

  &__title,
  .menu-footer-primary-menu-container .menu-link {
    font-size: 1.125em;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
  }
}

.has-sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .main-footer {
    margin-top: auto;
  }
}
